<p>
  A request was made to reset your password. Please follow the link below to continue:
</p>

<p>
  <a href="<%= ENV["APP_URL"] %>/reset-password?email=<%= @email %>&token=<%= @token %>">Reset Password</a>
</p>
